<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6">
      <h1>Edit <%= @body.long_name %></h1>
      <%= render 'form' %>
      <%= link_to "Retour à la liste d'entités", bodies_path %>
    </div>
  </div>
</div>
