<div class="container">
  <h1><%= t(".title") %></h1>
  <ul>
    <% @bodies.each do |body| %>
      <li><%= body.short_name %> <%= body.long_name %></li>
    <% end %>
  </ul>
  <%= link_to t("shared.back"), :back %>
</div>
