.card-body {
  overflow: hidden;
  height: 60px;
  width: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px;
  text-decoration: none;
}

.card-body:hover {
  box-shadow: 0px 0px 15px rgba(108, 99, 255, 1.0);
  transform: 1.2;
}

a:hover {
  text-decoration: none;
}

.card-body img {
  margin-left: 10px;
  height: 100%;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;

}

.card-body h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-body p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 4px;
}

.card-body .card-body-infos {
  padding: 8px;
}
